@import "./base/reset";
@import "./abstract/variables";
@import "./base/typography";
@import "./components/accordion";

body {
    background-color: $bg-color;
    background-image: url("../images/background-pattern-mobile.svg");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 48rem) {
        background-image: url("../images/background-pattern-desktop.svg");
    }
}

main {
    background-color: $alt-accent-color-2;
    border-radius: 1rem;
    padding: 1.5rem 1.2rem 0.8rem;
    
    @media screen and (min-width: 48rem) {
        max-width: 38rem;
        padding: 2.5rem 2.2rem 0.9rem;
    }
}

footer {
    text-align: center;
    line-height: 1.5;
    font-size: 0.7rem;

    @media screen and (min-width: 48rem) and (min-height: 41rem) {
        position: absolute;
        bottom: 1rem;
    }
}
