.accordion {
  border-bottom: 1px solid $bg-color;
  padding: 1.5rem 0;

  &:last-of-type {
    border-bottom: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-body {
  color: $alt-accent-color;
  font-size: 1.1rem;
  line-height: 1.4;
}

details img {
  content: url("/assets/images/icon-plus.svg");
}

details[open] img {
  content: url("/assets/images/icon-minus.svg");
}