:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --bg-color: hsl(216, 12%, 8%);
  --alt-text-color: hsl(213, 19%, 18%);
  --main-text-color: hsl(217, 12%, 63%);
  --main-highlight: hsl(25, 97%, 53%);
  --alt-highlight: hsl(0, 100%, 100%);
  --gradient: radial-gradient(var(--bg-color), var(--alt-text-color));
  --border-radius: 0.93rem;
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

main {
  width: 100%;
  max-width: 25.75rem;
}

.card {
  background-image: var(--gradient);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.93rem;
}

.star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: var(--alt-text-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.star-icon img {
  width: 0.8rem;
  height: 0.8rem;
}

h1 {
  color: var(--alt-highlight);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 0.87rem;
  line-height: 1.37rem;
}

/* fieldset */
.sr-only {
  display: none;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0 1.5rem;
}

fieldset input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

fieldset label {
  position: relative;
  width: 2.62rem;
  height: 2.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-text-color);
  border-radius: 50%;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

fieldset label:hover,
fieldset label:has(input:checked),
fieldset label:has(input:focus) {
  background-color: var(--alt-highlight);
  color: var(--alt-text-color);
}

fieldset label:hover,
fieldset label:has(input:focus) {
  background-color: var(--alt-highlight);
}

fieldset label:has(input:focus-visible) {
  outline: var(--alt-highlight) solid 1.5px;
  outline-offset: 2px;
}

fieldset label:has(input:checked) {
  background-color: var(--main-highlight);
  outline-color: var(--main-highlight);
}

button {
  background: var(--main-highlight);
  width: 100%;
  border: none;
  padding: 0.85rem 1rem;
  border-radius: 1.4rem;
  color: var(--alt-text-color);
  text-transform: uppercase;
  font-family: "Overpass", sans-serif;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.87px;
  font-size: 0.87rem;
  line-height: 1.12rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--alt-highlight);
}

/* Media Queries */
@media screen and (min-width: 48rem) {
  .card {
    padding: 2rem 1.5rem;
    border-radius: 1.87rem;
  }

  .star-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
  }

  .star-icon img {
    width: 1rem;
    height: 1rem;
  }

  h1 {
    font-size: 2.18rem;
  }

  p {
    font-size: 0.93rem;
    line-height: 1.5rem;
  }

  button {
    line-height: 1.5rem;
    padding: 0.66rem 1rem;
  }

  fieldset {
    margin-bottom: 2rem;
  }

  fieldset label {
    width: 3.18rem;
    height: 3.18rem;
  }
}

@media screen and (max-width: 22.5rem) {
  fieldset {
    justify-content: center;
  }
}