:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --bg-color: hsl(216, 12%, 8%);
  --alt-text-color: hsl(213, 19%, 18%);
  --main-text-color: hsl(217, 12%, 63%);
  --main-highlight: hsl(25, 97%, 53%);
  --alt-highlight: hsl(0, 100%, 100%);
  --gradient: radial-gradient(var(--bg-color), var(--alt-text-color));
  --border-radius: 0.93rem;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card {
  background-image: var(--gradient);
  max-width: 25.75rem;
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

.star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: var(--alt-text-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.star-icon img {
  width: 0.8rem;
  height: 0.8rem;
}

h1 {
  color: var(--alt-highlight);
  font-size: 1.5rem;
}

p {
  font-size: 0.87rem;
  line-height: 1.37rem;
}

/* fieldset */
.sr-only {
  display: none;
}

fieldset {
  border: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-bottom: 1.7rem;
}

fieldset input {
  display: none;
}

fieldset label {
  width: 2.62rem;
  height: 2.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-text-color);
  border-radius: 50%;
}

button {
  background: var(--main-highlight);
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 1.4rem;
  color: var(--alt-text-color);
  text-transform: uppercase;
  font-family: "Overpass", sans-serif;
  font-weight: var(--font-weight-bold);
}

/* Media Queries */
@media screen and (min-width: 48rem) {
  .card {
    padding: 1.5rem 2rem;
  }

  .star-icon {
    width: 3rem;
    height: 3rem;
  }

  .star-icon img {
    width: 1rem;
    height: 1rem;
  }

  h1 {
    font-size: 2.18rem;
  }

  p {
    font-size: 0.93rem;
    line-height: 1.5rem;
  }
}
