@import "base/reset";
@import "base/typography";
@import "abstract/variables";
@import "components/button";
@import "components/input";

body {
  min-height: 100vh;
}

main {
    max-width: 38rem;
}

footer {
  @media screen and (min-width: 64rem) and (min-height: 38rem) {
    position: absolute;
    bottom: 0.5rem;
  }
}
