@import "base/reset";
@import "base/typography";
@import "abstract/variables";
@import "components/button";
@import "components/input";
@import "components/footer";
@import "components/toast";

body {
  min-height: 100vh;
}

main {
    max-width: 38rem;
}

.cursor-pointer {
  cursor: pointer;
}